<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <style>
        button{
            margin-top: 20px;
            padding: 10px;
            background-color: gray;
            color: red;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <center>
        <h1>
            <%= err %>
        </h1>
    </center>
   <!-- <center> <button><a href="">Go to Previous Page</a></button></center> -->

</body>
</html>